<!-- <img
  (click)="changeLanguage()"
  [src]="this.translateService.currentLang + '.png'"
  [alt]="this.translateService.currentLang"
/> -->

<div class="header">
  <img
    class="settings-icon"
    src="settings.png"
    alt="Settings"
    (click)="changeLanguage()"
  />

  <h2>Guess the</h2>
  <img src="pokedex.png" alt="PokeDex" class="pokedex-logo" />
</div>

@if (feedback() === "") { @if (currentPokemon()) {
<div class="pokemon-card">
  <img
    [src]="currentPokemon()?.sprite"
    alt="{{ currentPokemon()?.name }}"
    class="pokemon-image"
  />
  <h1>
    {{ "POKEMON_NAMES." + (currentPokemon()?.name | uppercase) | translate }}
  </h1>
  <div class="pokemon-stats">
    <img src="height.png" alt="Height" class="stat-icon" />
    <p>{{ currentPokemon()?.height }} m</p>
    <img src="weight.png" alt="Weight" class="stat-icon" />
    <p>{{ currentPokemon()?.weight }} kg</p>
  </div>

  <div class="pokemon-types">
    @for (type of currentPokemon()?.types; track $index) {
    <p [className]="type">{{ type }}</p>
    }
  </div>
</div>

<div class="guess-section">
  @for (option of options(); track $index) {
  <button
    (click)="makeGuess(option)"
    [disabled]="pokeDexService.pokeResource.isLoading()"
  >
    {{ option }}
  </button>
  }
</div>
} } @else {
<div class="feedback-section">
  <p>
    {{ feedback() }}
  </p>

  @if (score() < 151) {

  <button
    (click)="newPokemon()"
    [disabled]="pokeDexService.pokeResource.isLoading()"
  >
    <img src="arrow_right.png" alt="Arrow Right" />
    New Pokemon
  </button>
  } @else {
  <button
    (click)="restartGame()"
    [disabled]="pokeDexService.pokeResource.isLoading()"
  >
    <img src="arrow_right.png" alt="Arrow Right" />
    Reset PokeDex
  </button>

  }
</div>
}

<div class="caught-pokemon-list">
  <h3>Caught Pokémon ({{ gameService.caughtPokemons().length }})</h3>
  @if (gameService.caughtPokemons().length > 0) {
  <ul>
    @for (pokemon of gameService.caughtPokemons(); track pokemon.id) {
    <li>
      <span class="pokemon-id">#{{ pokemon.id }}</span>
      <span>
        {{ "POKEMON_NAMES." + (pokemon.name | uppercase) | translate }}
      </span>
    </li>
    }
  </ul>
  } @else {
  <p>You haven't caught any Pokémon yet. Start playing to catch them all!</p>
  }
</div>
