@font-face {
  font-family: "PokemonGB";
  src: url("/PokemonGB.ttf") format(truetype);
  font-weight: normal;
  font-style: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

body {
  font-family: "PokemonGB", sans-serif;
  text-align: center;

  width: 100vw;
  height: 100vh;
  max-width: 500px;
  margin: 0 auto;

  background-color: #def0d5;
  background-image: repeating-linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.03) 0px,
      rgba(0, 0, 0, 0.03) 5px,
      transparent 5px,
      transparent 10px
    ),
    repeating-linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.03) 0px,
      rgba(0, 0, 0, 0.03) 5px,
      transparent 5px,
      transparent 10px
    );
  background-size: 10px 10px;
}
